
//- 教授のprofile情報
-
  var members = [
    {
      'memberPortraitURL':'./images/prof-images/kusumi.jpg',
      'memberName': '楠見 清',
      'memberPosition': '准教授',
      'memberNameEn': 'Kiyoshi Kusumi',
      'memberPositionEn': 'Associate Professor',
      'memberField': '編集論、メディア論、情報コンテンツプロデュース、出版文化史',
      'memberFieldEn': 'Editing Theory, Media Theory On-line Content Production, Publishing History',
      'memberStudio':'エディティングスタジオ',
      'memberStudioEn':'Editorial Design Studio',
      'memberSite':''
    },
    {
      'memberPortraitURL':'./images/prof-images/kim.png',
      'memberName': '金 石振',
      'memberPosition': '准教授',
      'memberNameEn': 'Seokjin Kim',
      'memberPositionEn': 'Associate Professor',
      'memberField': '製品イノベーションデザイン、サステーナブルデザイン',
      'memberFieldEn': 'Product innovation design, Sustainable design',
      'memberStudio':'製品・サービスデザインスタジオ',
      'memberStudioEn':'Equipment & Service Design Studio',
      'memberSite':'http://equipmentdesign.tumblr.com/'
    },
    {
      'memberPortraitURL':'./images/prof-images/kasamatsu.png',
      'memberName': '笠松 慶子',
      'memberPosition': '教授',
      'memberNameEn': 'Keiko Kasamatsu',
      'memberPositionEn': 'Professor',
      'memberField': '人間工学、ヒューマンインタフェース',
      'memberFieldEn': 'Ergonomics design, Human interface',
      'memberStudio':'エルゴノミックデザインスタジオ',
      'memberStudioEn':'Ergonomics Design Studio',
      'memberSite':''
    },
    {
      'memberPortraitURL':'./images/prof-images/kushiyama.jpg',
      'memberName': '串山 久美子',
      'memberPosition': '教授',
      'memberNameEn': 'Kumiko  Kushiyama',
      'memberPositionEn': 'Professor',
      'memberField': 'メディアアート,インタラクティブアート,バーチャルリアリティ',
      'memberFieldEn': 'Media Art, Interactive Art, Virtual Reality',
      'memberStudio':'インタラクティブアートスタジオ',
      'memberStudioEn':'Interactive Art Studio',
      'memberSite':'http://ideea.jp/'
    },
    {
      'memberPortraitURL':'./images/prof-images/baba.png',
      'memberName': '馬場 哲晃',
      'memberPosition': '准教授',
      'memberNameEn': 'Tetsuaki Baba',
      'memberPositionEn': 'Associate Professor',
      'memberField': 'インタラクティブアート、インタラクションデザイン',
      'memberFieldEn': 'Interactive Art, Interaction Design',
      'memberStudio':'インタフェースデザインスタジオ',
      'memberStudioEn':'Interface Design Studio',
      'memberSite':'http://tetsuakibaba.jp/'
    },
    {
      'memberPortraitURL':'./images/prof-images/fujiwara.png',
      'memberName': '藤原 敬介',
      'memberPosition': '教授',
      'memberNameEn': 'Keisuke Fujiwara',
      'memberPositionEn': 'Professor',
      'memberField': 'インテリアデザイン',
      'memberFieldEn': 'Interior Design',
      'memberStudio':'インテリアデザインスタジオ',
      'memberStudioEn':'Interior Design Studio',
      'memberSite':'http://www.keisukefujiwara.com/'
    },
    {
      'memberPortraitURL':'./images/prof-images/komma.png',
      'memberName': '今間 俊博',
      'memberPosition': '教授',
      'memberNameEn': 'Toshihiro Komma',
      'memberPositionEn': 'Professor',
      'memberField': 'アニメーション・映像',
      'memberFieldEn': 'Computer Graphics Animation, Moving Image,<br>Computer Graphics',
      'memberStudio':'映像デザインスタジオ',
      'memberStudioEn':'Kinematograph Design Studio',
      'memberSite':''
    },
    {
      'memberPortraitURL':'./images/prof-images/sugimoto.jpg',
      'memberName': '杉本 達應',
      'memberPosition': '准教授',
      'memberNameEn': 'Tatsuo Sugimoto',
      'memberPositionEn': 'Associate Professor',
      'memberField': 'メディアデザイン、メディアアート、メディア表現の研究',
      'memberFieldEn': 'Media Design, Media Art, Media Studies',
      'memberStudio':'ネットワークデザインスタジオ',
      'memberStudioEn':'Network Design Studio',
      'memberSite':'https://lab.sugimototatsuo.com'
    },
    {
      'memberPortraitURL':'./images/prof-images/mukai.jpg',
      'memberName': '向井 智彦',
      'memberPosition': '准教授',
      'memberNameEn': 'Toshihiko Mukai',
      'memberPositionEn': 'Associate Professor',
      'memberField': 'コンピュータグラフィックス',
      'memberFieldEn': 'Computer Graphics',
      'memberStudio':'ソフトウェアデザインスタジオ',
      'memberStudioEn':'Software Design Studio',
      'memberSite':'http://mukai-lab.org/'
    },
    {
      'memberPortraitURL':'./images/prof-images/verl.jpg',
      'memberName': 'ヴァール アダムス',
      'memberPosition': '准教授',
      'memberNameEn': 'Verl Adams',
      'memberPositionEn': 'Associate Professor',
      'memberField': '建築、空間デザイン、写真',
      'memberFieldEn': 'Architecture, Spatial Design, Photography',
      'memberStudio':'空間デザインスタジオ',
      'memberStudioEn':'Spatial Design Studio',
      'memberSite':'http://www.verladams.com/'
    },
    {
      'memberPortraitURL':'./images/prof-images/namba.png',
      'memberName': '難波 治',
      'memberPosition': '教授',
      'memberNameEn': 'Osamu Namba',
      'memberPositionEn': 'Professor',
      'memberField': '自動車デザイン、商品企画論、工業デザイン',
      'memberFieldEn': 'Car Design, Product Planning, Industrial Design',
      'memberStudio':'トランスポーテーションデザインスタジオ',
      'memberStudioEn':'Transportation Design Studio',
      'memberSite':''
    },
    {
      'memberPortraitURL':'./images/prof-images/kikutake.jpg',
      'memberName': '菊竹 雪',
      'memberPosition': '教授',
      'memberNameEn': 'Yuki Kikutake',
      'memberPositionEn': 'Professor',
      'memberField': 'グラフィックデザイン、アートディレクション',
      'memberFieldEn': 'Graphic Design, Art Direction',
      'memberStudio':'ヴィジュアルコミュニケーションデザインスタジオ',
      'memberStudioEn':'Visual Communication Design Studio',
      'memberSite':'http://www.yuki-kikutake-design.com/'
    },
    {
      'memberPortraitURL':'./images/prof-images/hidaka.png',
      'memberName': '日高 良祐',
      'memberPosition': '助教',
      'memberNameEn': 'Ryosuke Hidaka',
      'memberPositionEn': 'Assistant Professor',
      'memberField': 'メディア研究、ポピュラー音楽研究',
      'memberFieldEn': 'Media Studies, Popular Music Studies',
      'memberStudio':'',
      'memberSite':'http://ryskhdk.net/'
    },
    {
      'memberPortraitURL':'./images/prof-images/motegi.png',
      'memberName': '茂木 龍太',
      'memberPosition': '助教',
      'memberNameEn': 'Ryuta Mogi',
      'memberPositionEn': 'Assistant Professor',
      'memberField': 'コンテンツデザイン、デザイン手法',
      'memberFieldEn': 'Content Design, Design Method',
      'memberStudio':'',
      'memberSite':''
    },
    {
      'memberPortraitURL':'./images/prof-images/tsuchiya.jpg',
      'memberName': '土屋 真',
      'memberPosition': '助教',
      'memberNameEn': 'Shin Tsuchiya',
      'memberPositionEn': 'Assistant Professor',
      'memberField': '空間デザイン',
      'memberFieldEn': 'Spatial design',
      'memberStudio':'',
      'memberSite':''
    },
    {
      'memberPortraitURL':'./images/prof-images/sakaguchi.png',
      'memberName': '阪口 紗季',
      'memberPosition': '助教',
      'memberNameEn': 'Saki Sakaguchi',
      'memberPositionEn': 'Assistant Professor',
      'memberField': 'インタラクションデザイン',
      'memberFieldEn': 'Interaction Design',
      'memberStudio':'',
      'memberSite':''
    }

  ]

section.faculty
  - for(var i = 0; i < members.length; i++)
    section.member
      img(src= members[i]['memberPortraitURL'] alt="portrait")
      section.profile
        div.name
          h2 !{members[i]['memberName']}
          span !{members[i]['memberPosition']}
          if members[i]['memberSite'] != ''
            a(href= members[i]['memberSite'])
              img(src='./images/prof-link.svg')
          div.name.en
            h2.en !{members[i]['memberNameEn']}
            span.en !{members[i]['memberPositionEn']}
        if members[i]['memberStudio'] != ''
          p.ja !{members[i]['memberStudio']}
          p.en !{members[i]['memberStudioEn']}
        p.ja !{members[i]['memberField']}
        p.en !{members[i]['memberFieldEn']}
